@model NumberMessage
<div class="row">
  <div class="col">
    <p class="text-center mt-4 mb-5">
      @Model.Message
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>@foreach(int num in Model.NumNumber)
      {
      <p>@num</p>
      }
    </p>
  </div>
</div>